.content {
  --cell-size: 380px;
  --part-size: 120px;

  --bg-panel-background: #121212;
  --bg-button-color: #252525;
  --bg-button-color-enabled: #60a7d644;
  --bg-icon-button: #808080;
  --bg-icon-button-active: #60a7d6;

  --str-button-font: #808080;
  --str-button-font-active: #60a7d6;
}
